@import "link-theming.component";
@import "../../nav-config";

.nav-link{
  text-decoration: none;
  line-height: $nav-height;
  height: $nav-height;
  display: flex;
  opacity: 0.9;
  transition: opacity 0.2s ease;

  &:hover{
    opacity: 1;
  }
}
