@import "../../theming";
@import "./pretheming/padding";

.d-flex{
  display: flex !important;
}

.d-lg-flex{
  @media (min-width: $width-desktop) {
    display: flex !important;
  }
}

.flex-items-center{
  align-items: center !important;
}

.flex-content-center{
  justify-content: center !important;
}

