<header class="header">
  <div class="header-container">
    <div class="header-mobile d-flex flex-items-center" [equalWidth]="identity">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div class="logo d-flex flex-items-center">
      <nav-logo></nav-logo>
    </div>
    <div class="header-menu open">
      <nav-header-menu></nav-header-menu>
    </div>
    <div class="identity d-flex flex-items-center" #identity>
      <nav-identity></nav-identity>
    </div>
  </div>
</header>
