@import "navbar-theme.component";
@import "../../nav-config";
@import "../../../../theming";
@import "../../pretheming";

$header-padding: 16px;

.header{
  height: $nav-height;

  .header-container{
    display: flex;
    padding: 0 $header-padding;
    height: $nav-height;
    position: relative;

    .logo{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      flex: auto;
      order: inherit;
      flex-direction: row;
      flex-flow: row;

      img{
        width: 20px;
        display: flex;
      }
    }


    .header-menu{
      display: none;
      z-index: 11;
      background: #6aa0d2;
      clear: both;
      left: 0;
      bottom: 0;
      top: 0;
      max-height: 100%;
      position: fixed;

      &.open{
        display: block;
      }

      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li{
          display: flex;
          justify-content: space-between;
          position: relative;
          flex-wrap: wrap;
          align-items: center;

          a{
            text-decoration: none;
            color: #000000;
            padding: 16px 0;
          }
        }
      }
    }

  }
}

@media (min-width: $width-desktop) {

  .header {
    .header-container {
      margin: 0 50px;
      padding: 0 15px;
      display: flex;
      height: $nav-height;

      .logo {
        display: flex;
        align-items: center;
        justify-content: left;
        flex: none;
        margin-right: 50px;
      }

      .header-mobile {
        display: none !important;
      }

      .header-menu {
        display: flex !important;
        position: relative !important;
        background: transparent !important;
        height: $nav-height;
        line-height: $nav-height;
        flex: auto;

        nav ul {
          display: flex;
          flex-direction: row;


          li{
            padding: 0;
            a{
              padding: 0;
              margin-right: 16px;
            }
          }

        }
      }

    }
  }
}
