@import "../../nav-config";
@import "../../../../theming";

.header-menu-list{
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}



@media (min-width: $width-desktop) {
  .header-menu-list{
    display: flex;
    outline: none;
  }

  .dropdown-menu{
    position: absolute;
    top: 95%;
    background: #6aa0d2;
    left: -32px;
    padding: 10px 32px;

    a{
      width: 300px;
      display: flex;
    }
  }
}
