<div class="h-screen">
  <div class="front banner bg-primary-700 grid md:grid-cols-2 grid-flow-col grid-rows-3 px-4">
    <div class="logo text-primary-200 h-auto row-span-2 md:mb-16 mt-24 md:mt-32 ">
      <div class="banner px-8 mb-8">
        <img src="../../../../assets/logo_banner_dark.svg" height="100%" width="100%" class="text-on-primary-500">
      </div>
      <div class="caption font-normal mx-8 text-xl text-on-primary-500 items-center flex">
        <h1>Exceed your limits by using the future of collaboration technology.</h1>
      </div>
    </div>

    <div class="flex items-end justify-center md:justify-start">
      <button class="bg-accent-600 text-on-accent-600 rounded px-8 mx-8 py-1 text-base font-sans hover:bg-accent-700 transition-colors duration-150 ease-in
            w-auto flex mb-16
          ">Explore the context foundation
      </button>
    </div>

    <div class="foc row-span-3 fill-current text-accent-600 foc-anime">
      <svg width="100%" height="100%">

        <circle cx="110%" cy="10%" r="500" />
      </svg>
    </div>
  </div>

  <div class="mb-24 text-on-primary-500">
    <h2 class="m-12 font-sans font-medium text-3xl text-on-primary-500">Skills</h2>
    <div class="core-ideas h-auto grid grid-cols-1 grid-rows-3 md:grid-rows-1 md:grid-cols-3 col-gap-24 px-24">
      <div class="px-12 py-8 bg-primary-600 rounded hover-up">
        <div class="flex flex-col items-center justify-center">
          <img src="../../../../assets/icons/refresh-24px.svg" class="w-32 h-32 block">
          <h2 class="block font-sans text-2xl font-medium">Data Accessibility</h2>
        </div>
        <div>
          <p></p>
        </div>
      </div>
      <div class="px-12 py-8 bg-primary-600 rounded hover-up">
        <div class="flex flex-col items-center">
          <img src="../../../../assets/icons/refresh-24px.svg" class="w-32 h-32 block">
          <h2 class="block font-sans text-2xl font-medium">Automated Integration</h2>
        </div>
      </div>
      <div class="px-12 py-8 bg-primary-600 hover-up">
        <div class="flex flex-col items-center">
          <img src="../../../../assets/icons/refresh-24px.svg" class="w-32 h-32 block">
          <h2 class="block font-sans text-2xl font-medium">Compatability</h2>
        </div>
      </div>
    </div>
  </div>

  <p>
    This changes
  </p>

</div>