<div class="h-screen">
  <div class="front banner bg-primary-700 grid grid-cols-1 md:grid-cols-2 grid-flow-col grid-rows-3 ">
    <div class="logo text-primary-200 h-auto row-span-2 md:mb-16 mt-24 md:mt-32 px-4">
      <div class="banner px-8 mb-8">
        <img src="../../../../assets/logo_banner_dark.svg" height="100%" width="100%" class="text-on-primary-500">
      </div>
      <div class="caption font-normal mx-8 text-xl text-on-primary-500 items-center flex">
        <h1>Exceed your limits by using the future of collaboration technology.</h1>
      </div>
    </div>

    <div class="flex items-end justify-center md:justify-start relative">
      <svg width="500" height="500" class="absolute z-0 fill-current text-accent-500 hidden md:flex">
        <circle cx="30%" cy="100%" r="200" />
      </svg>
      <button class="bg-primary-200 text-on-primary-200 rounded px-8 mx-8 py-2 text-base font-sans hover:bg-primary-700 transition-colors duration-150 ease-in
            w-auto flex mb-16 z-10
          ">Explore the context foundation
      </button>
    </div>

    <div class="foc row-span-3 fill-current text-accent-600 foc-anime hidden md:flex">
      <svg width="100%" height="100%">
        <circle cx="110%" cy="10%" r="500" />
      </svg>
    </div>
  </div>

  <div class="text-on-primary-500 font-sans">
    <h2 class="m-8 md:m-12 font-medium text-3xl text-on-primary-500">Skills</h2>
    <div
      class="core-ideas h-auto px-8 grid grid-cols-1 grid-rows-3 row-gap-12 md:grid-rows-1 md:grid-cols-3 md:col-gap-24 md:px-24 ">
      <div class="px-12 py-8 bg-primary-600 rounded hover-up">
        <div class="flex flex-col items-center justify-center">
          <img src="../../../../assets/icons/data_accessibility.svg" class="w-24 h-24 block">
          <h2 class="block text-2xl font-medium mt-4">Data Accessibility</h2>
        </div>
        <div class="mt-2">
          <p class="text-center">Direct and easy access to most of the information your project will ever need</p>
        </div>
      </div>
      <div class="px-12 py-8 bg-primary-600 rounded hover-up">
        <div class="flex flex-col items-center">
          <img src="../../../../assets/icons/automated_integration.svg" class="w-24 h-24 block">
          <h2 class="block text-2xl font-medium mt-4">Automated Integration</h2>
        </div>
        <div class="mt-2">
          <p class="text-center">Instantly integrate the newest methodology and information tailored for you needs</p>
        </div>
      </div>
      <div class="px-12 py-8 bg-primary-600 hover-up">
        <div class="flex flex-col items-center">
          <img src="../../../../assets/icons/compatability.svg" class="w-24 h-24 block">
          <h2 class="block font-sans text-2xl font-medium mt-4">Compatability</h2>
        </div>
        <div class="mt-2">
          <p class="text-center">Context is independent off any languages, networking and frameworks</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-0 md:mt-24 text-on-primary-500 font-sans">
    <h3 class="m-8 md:m-12 font-medium text-3xl">How it Works</h3>
    <div class="how-it-works-ct">

    </div>
  </div>

</div>