/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "./themes/font-palette";
@import "./themes/palette";
@import "./themes/light-theme";

@include  mat-core($roboto-font-theme);
@include angular-material-theme($im-lightgrey-blue-theme);

html, body
{
  height: 100%;
  padding: 0;
  margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
