@import "logo-theme.component";
@import "../../../../theming";
@import "../../nav-config";

:host{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: auto;
  order: inherit;
  flex-direction: row;
  position: relative;
}

.logo{
  display: flex;
  height: $nav-height;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;

  .logo-caption{
    display: none;
  }

  .logo-img{
    display: flex;
    width: 20px;
    height: $nav-height;
  }
}

@media only screen and (min-width: $width-desktop) {
  :host{
    margin-right: 20px;
  }

  .logo{
    display: flex;
    align-items: center;
    height: $nav-height;

    .logo-caption{
      display: flex;
      font-size: 18pt;
      font-family: "Roboto", "Source Sans Pro", sans-serif;
      font-weight: 500;
      color: #000;
      text-decoration: none;
      align-self: center;
      height: $nav-height;
      line-height: $nav-height;
    }

    .logo-img{
      display: flex;
      margin-right: 8px;
      width: 20px;
      height: $nav-height;
    }

  }
}
