@import "./../../nav-config";
@import "./../../../../theming";

.logo-container{
  line-height: $nav-height !important;

  .logo-image{
    width: 22px;
    transform: translateY(-2px);
  }
}

.logo-caption-image{
  width: 75px;
  line-height: $nav-height !important;
  transform: translateY(2px);
}

@media (min-width: 767px) {
  .logo-container{
    .logo-caption{
      line-height: 40px;
    }
  }
}
