@import "logo-theme.component";
@import "../../../../theming";
@import "../../nav-config";


.logo{
  display: flex;
  height: $nav-height;

  .logo-caption{
    display: none;
  }

  .logo-img{
    display: flex;
    width: 20px;
    height: $nav-height;
  }
}

@media only screen and (min-width: $width-desktop) {

  .logo{
    display: flex;
    align-items: center;
    height: $nav-height;

    .logo-caption{
      display: flex;
      font-size: 20px;
      font-family: "Roboto", "Source Sans Pro", sans-serif;
      font-weight: 500;
      color: #000;
      text-decoration: none;
      align-self: center;
      height: $nav-height;
      line-height: $nav-height;
    }

    .logo-img{
      display: flex;
      margin-right: 8px;
      width: 20px;
      height: $nav-height;
    }

  }
}
