@import "./../../nav-config";
@import "./../../../../theming";

.logo-container{
  line-height: $nav-height !important;

  .logo-image{
    width: 22px;
  }
}

@media (min-width: 767px) {
  .logo-container{
    .logo-caption{
      line-height: 40px;
    }
  }
}
