@import "../../nav-config";
@import "../../../../theming";
@import "./header-menu-lg-theme";

.header-menu-item{
  margin-right: 16px;
}
.header-menu-link{
  opacity: 0.85;

  &:hover{
    opacity: 1;
  }
}
