@import "header-menu-sm-theme";
.w-100{
  width: 100%;
}
.header-menu-item{
  padding-top: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.dropdown{
    cursor: pointer;
  }
}
